<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sidebar</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="sidebar">
		<h2>Tomasz Dudzinski</h2>
		<img src="foto.jpg" alt="Father and son" />
		<div class="text-wrapper">
			<h3>About Developer</h3>
			<p>It's me and my older son, I love spending free time with my family. It's how I wind down and recharge my inner batteries. When I'm bursting with energy I enjoy trail running, visiting friends and riding bicycle. Don't drive just use your muscles and embrace wild nature - that's my motto! </p>
			<a href="#" class="back-to-profile"><p>Back to full profile</a></p>
		</div>
	</div>
	
</body>
</html>