body{
  font-family: 'Hind', sans-serif;
}
h3{
  font-size:1.5rem;
  margin:0 auto;
  text-align:center;
}
fieldset{
  width:500px;
  height:auto;
  margin:50px auto;
  border:none;
  padding: 10px 25px;;
  background-color:rgba(143,160,166,.6);
  border-radius:8px;
}
label{
  display:inline-block;
  position:relative;
  left:50px;
  float:left;
  width:50%;
  bottom:-5px; 
  font-size:1.2rem;
}
input[type="radio"]{
  display:inline-block;
  position:relative;
  float:right;
  width:50%;
  right:100px;
  bottom:20px;
  cursor:pointer;
}
input[type="text"]{
  display:block;
  float:left;
  position:relative;
  margin-top:20px;
  bottom:20px;
  border-radius:5px;
  padding:5px 10px;
  font-size:.8rem;
  border: 2px solid #000;
}
input[type="submit"]{
  display:block;
  clear:both;
  width:150px;
  padding: 10px 12px;
  border-radius: 5px;
  margin: 20px auto;
  font-size:.9rem;
  background-color:rgba(155,250,40,.5);
  border: 1px solid rgba(155,250,40,.8);
  font-weight:bold;
}
input[type="submit"]:hover{
  background-color:rgba(155,250,40,.8);
  border: 1px solid rgba(155,250,60,.5);
  font-size:1.1rem;
}

