<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8" />
  <title>Credit Card</title>
  <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
   <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <form action="card.html" method="post">
    <fieldset>
    <label for="cardholder_name">Your Full Name</label>
    <input type="text" name="cardholder_name" />
     <label for="card_number">Credit Card Number</label>
    <input type="text" name="card_number" maxlength="19"/>
    <label for="csv">CSV Code</label>
    <input type="text" name="csv" maxlength="3"class="csv"/>
    <label for="expiration_month">Card valid until</label>
    <select name="expiration_month" id="exmonth">Expiration Month
      <option value="January">January</option>
      <option value="February">February</option>
      <option value="March">March</option>
      <option value="April">April</option>
      <option value="May">May</option>
      <option value="June">June</option>
      <option value="July">July</option>
      <option value="August">August</option>
      <option value="September">September</option>
      <option value="October">October</option>
      <option value="November">November</option>
      <option value="December">December</option>
    </select>
    <select name="valid_year" id="exyear">
      <option value="2016">2016</option>
      <option value="2017">2017</option>
      <option value="2018">2018</option>
      <option value="2019">2019</option>
      <option value="2020">2020</option>
      <option value="2021">2021</option>
      <option value="2022">2022</option>
      <option value="2023">2023</option>
      <option value="2024">2024</option>
      <option value="2025">2025</option>
      <option value="2026">2026</option>
      <option value="2027">2027</option>
      <option value="2028">2028</option>
      <option value="2029">2029</option>
      <option value="2030">2030</option>
      <option value="2031">2031</option>
    </select>
    </fieldset>
  </form>
  
</body>
</html>
    
    
    
    
    
