<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Product listing</title>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">

<body>
  <section id="wrapper">

    <header>
    <h3>Your best online shop</h3>
    </header>
    <section class="shop">

      <section class="item">
        <img class="foto" src="http://placehold.it/500x200" alt="item photo" />
        <h4>Product One</h4>
        <span>Price $99,99</span>
        <button>Add to cart</button>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel lobortis arcu. Nullam lacinia id odio ac tincidunt. Maecenas ut aliquam mi, at finibus sapien. Donec non eros nunc. Fusce commodo bibendum semper. Fusce bibendum viverra tortor, accumsan viverra diam ultricies sed. Vestibulum auctor sagittis nibh ac rutrum. Nullam imperdiet vulputate risus luctus convallis.
        Vestibulum varius, diam tempor lobortis pulvinar, velit enim consequat quam, vel tempus ante orci et urna. Ut at molestie erat. Vivamus sed purus nunc. Ut varius eleifend vulputate. Donec lobortis eu diam vel bibendum. Duis non mauris tincidunt, rhoncus felis posuere, dictum augue. Praesent sit amet accumsan nisl, cursus sodales ex. Mauris ut rutrum odio. Cras dignissim nisl vitae venenatis aliquam. Nulla vel rutrum nibh, a mollis velit. Fusce maximus mi dui, vel congue magna fermentum sit amet.</p>
      </section>
      <hr>

        <section class="item">
          <img class="foto" src="http://placehold.it/500x200" alt="item photo" />
          <h4>Product Two</h4>
          <span>Price $99,99</span>
          <button>Add to cart</button>
           <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel lobortis arcu. Nullam lacinia id odio ac tincidunt. Maecenas ut aliquam mi, at finibus sapien. Donec non eros nunc. Fusce commodo bibendum semper. Fusce bibendum viverra tortor, accumsan viverra diam ultricies sed. Vestibulum auctor sagittis nibh ac rutrum. Nullam imperdiet vulputate risus luctus convallis.Vestibulum varius, diam tempor lobortis pulvinar, velit enim consequat quam, vel tempus ante orci et urna. Ut at molestie erat. Vivamus sed purus nunc. Ut varius eleifend vulputate. Donec lobortis eu diam vel bibendum. Duis non mauris tincidunt, rhoncus felis posuere, dictum augue. Praesent sit amet accumsan nisl, cursus sodales ex. Mauris ut rutrum odio. Cras dignissim nisl vitae venenatis aliquam. Nulla vel rutrum nibh, a mollis velit. Fusce maximus mi dui, vel congue magna fermentum sit amet.</p>
        </section>
        <hr>

        <section class="item">
          <img class="foto" src="http://placehold.it/500x200" alt="item photo" />
          <h4>Product Three</h4>
          <span>Price $99,99</span>
          <button>Add to cart</button>
           <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel lobortis arcu. Nullam lacinia id odio ac tincidunt. Maecenas ut aliquam mi, at finibus sapien. Donec non eros nunc. Fusce commodo bibendum semper. Fusce bibendum viverra tortor, accumsan viverra diam ultricies sed. Vestibulum auctor sagittis nibh ac rutrum. Nullam imperdiet vulputate risus luctus convallis.Vestibulum varius, diam tempor lobortis pulvinar, velit enim consequat quam, vel tempus ante orci et urna. Ut at molestie erat. Vivamus sed purus nunc. Ut varius eleifend vulputate. Donec lobortis eu diam vel bibendum. Duis non mauris tincidunt, rhoncus felis posuere, dictum augue. Praesent sit amet accumsan nisl, cursus sodales ex. Mauris ut rutrum odio. Cras dignissim nisl vitae venenatis aliquam. Nulla vel rutrum nibh, a mollis velit. Fusce maximus mi dui, vel congue magna fermentum sit amet.</p>
        </section>
        <hr>

        <section class="item">
          <img class="foto" src="http://placehold.it/500x200" alt="item photo" />
          <h4>Product Four</h4>
          <span>Price $99,99</span>
          <button>Add to cart</button>
           <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel lobortis arcu. Nullam lacinia id odio ac tincidunt. Maecenas ut aliquam mi, at finibus sapien. Donec non eros nunc. Fusce commodo bibendum semper. Fusce bibendum viverra tortor, accumsan viverra diam ultricies sed. Vestibulum auctor sagittis nibh ac rutrum. Nullam imperdiet vulputate risus luctus convallis.Vestibulum varius, diam tempor lobortis pulvinar, velit enim consequat quam, vel tempus ante orci et urna. Ut at molestie erat. Vivamus sed purus nunc. Ut varius eleifend vulputate. Donec lobortis eu diam vel bibendum. Duis non mauris tincidunt, rhoncus felis posuere, dictum augue. Praesent sit amet accumsan nisl, cursus sodales ex. Mauris ut rutrum odio. Cras dignissim nisl vitae venenatis aliquam. Nulla vel rutrum nibh, a mollis velit. Fusce maximus mi dui, vel congue magna fermentum sit amet.</p>
        </section>
        <hr>

        <section class="item">
          <img class="foto" src="http://placehold.it/500x200" alt="item photo" />
          <h4>Product Five</h4>
          <span>Price $99,99</span>
          <button>Add to cart</button>
          <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel lobortis arcu. Nullam lacinia id odio ac tincidunt. Maecenas ut aliquam mi, at finibus sapien. Donec non eros nunc. Fusce commodo bibendum semper. Fusce bibendum viverra tortor, accumsan viverra diam ultricies sed. Vestibulum auctor sagittis nibh ac rutrum. Nullam imperdiet vulputate risus luctus convallis.
          Vestibulum varius, diam tempor lobortis pulvinar, velit enim consequat quam, vel tempus ante orci et urna. Ut at molestie erat. Vivamus sed purus nunc. Ut varius eleifend vulputate. Donec lobortis eu diam vel bibendum. Duis non mauris tincidunt, rhoncus felis posuere, dictum augue. Praesent sit amet accumsan nisl, cursus sodales ex. Mauris ut rutrum odio. Cras dignissim nisl vitae venenatis aliquam. Nulla vel rutrum nibh, a mollis velit. Fusce maximus mi dui, vel congue magna fermentum sit amet.</p>
        </section>
        <hr>

        <section class="item">
          <img class="foto" src="http://placehold.it/500x200" alt="item photo" />
          <h4>Product Six</h4>
          <span>Price $99,99</span>
          <button>Add to cart</button>
          <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel lobortis arcu. Nullam lacinia id odio ac tincidunt. Maecenas ut aliquam mi, at finibus sapien. Donec non eros nunc. Fusce commodo bibendum semper. Fusce bibendum viverra tortor, accumsan viverra diam ultricies sed. Vestibulum auctor sagittis nibh ac rutrum. Nullam imperdiet vulputate risus luctus convallis.
          Vestibulum varius, diam tempor lobortis pulvinar, velit enim consequat quam, vel tempus ante orci et urna. Ut at molestie erat. Vivamus sed purus nunc. Ut varius eleifend vulputate. Donec lobortis eu diam vel bibendum. Duis non mauris tincidunt, rhoncus felis posuere, dictum augue. Praesent sit amet accumsan nisl, cursus sodales ex. Mauris ut rutrum odio. Cras dignissim nisl vitae venenatis aliquam. Nulla vel rutrum nibh, a mollis velit. Fusce maximus mi dui, vel congue magna fermentum sit amet.</p>
        </section>
        <hr>

        <section class="item">
          <img class="foto" src="http://placehold.it/500x200" alt="item photo" />
          <h4>Product Seven</h4>
          <span>Price $99,99</span>
          <button>Add to cart</button>
           <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel lobortis arcu. Nullam lacinia id odio ac tincidunt. Maecenas ut aliquam mi, at finibus sapien. Donec non eros nunc. Fusce commodo bibendum semper. Fusce bibendum viverra tortor, accumsan viverra diam ultricies sed. Vestibulum auctor sagittis nibh ac rutrum. Nullam imperdiet vulputate risus luctus convallis. Vestibulum varius, diam tempor lobortis pulvinar, velit enim consequat quam, vel tempus ante orci et urna. Ut at molestie erat. Vivamus sed purus nunc. Ut varius eleifend vulputate. Donec lobortis eu diam vel bibendum. Duis non mauris tincidunt, rhoncus felis posuere, dictum augue. Praesent sit amet accumsan nisl, cursus sodales ex. Mauris ut rutrum odio. Cras dignissim nisl vitae venenatis aliquam. Nulla vel rutrum nibh, a mollis velit. Fusce maximus mi dui, vel congue magna fermentum sit amet.</p>
        </section>
        <hr>

        <section class="item">
          <img class="foto" src="http://placehold.it/500x200" alt="item photo" />
          <h4>Product Eight</h4>
          <span>Price $99,99</span>
          <button>Add to cart</button>
          <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel lobortis arcu. Nullam lacinia id odio ac tincidunt. Maecenas ut aliquam mi, at finibus sapien. Donec non eros nunc. Fusce commodo bibendum semper. Fusce bibendum viverra tortor, accumsan viverra diam ultricies sed. Vestibulum auctor sagittis nibh ac rutrum. Nullam imperdiet vulputate risus luctus convallis.
          Vestibulum varius, diam tempor lobortis pulvinar, velit enim consequat quam, vel tempus ante orci et urna. Ut at molestie erat. Vivamus sed purus nunc. Ut varius eleifend vulputate. Donec lobortis eu diam vel bibendum. Duis non mauris tincidunt, rhoncus felis posuere, dictum augue. Praesent sit amet accumsan nisl, cursus sodales ex. Mauris ut rutrum odio. Cras dignissim nisl vitae venenatis aliquam. Nulla vel rutrum nibh, a mollis velit. Fusce maximus mi dui, vel congue magna fermentum sit amet.</p>
        </section>
        <hr>

        <section class="item">
          <img class="foto" src="http://placehold.it/500x200" alt="item photo" />
          <h4>Product Nine</h4>
          <span>Price $99,99</span>
          <button>Add to cart</button>
          <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel lobortis arcu. Nullam lacinia id odio ac tincidunt. Maecenas ut aliquam mi, at finibus sapien. Donec non eros nunc. Fusce commodo bibendum semper. Fusce bibendum viverra tortor, accumsan viverra diam ultricies sed. Vestibulum auctor sagittis nibh ac rutrum. Nullam imperdiet vulputate risus luctus convallis.
          Vestibulum varius, diam tempor lobortis pulvinar, velit enim consequat quam, vel tempus ante orci et urna. Ut at molestie erat. Vivamus sed purus nunc. Ut varius eleifend vulputate. Donec lobortis eu diam vel bibendum. Duis non mauris tincidunt, rhoncus felis posuere, dictum augue. Praesent sit amet accumsan nisl, cursus sodales ex. Mauris ut rutrum odio. Cras dignissim nisl vitae venenatis aliquam. Nulla vel rutrum nibh, a mollis velit. Fusce maximus mi dui, vel congue magna fermentum sit amet.</p>
          </section>
        <hr>

        <section class="item">
          <img class="foto" src="http://placehold.it/500x200" alt="item photo" />
          <h4>Product Ten</h4>
          <span>Price $99,99</span>
          <button>Add to cart</button>
         <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel lobortis arcu. Nullam lacinia id odio ac tincidunt. Maecenas ut aliquam mi, at finibus sapien. Donec non eros nunc. Fusce commodo bibendum semper. Fusce bibendum viverra tortor, accumsan viverra diam ultricies sed. Vestibulum auctor sagittis nibh ac rutrum. Nullam imperdiet vulputate risus luctus convallis.
          Vestibulum varius, diam tempor lobortis pulvinar, velit enim consequat quam, vel tempus ante orci et urna. Ut at molestie erat. Vivamus sed purus nunc. Ut varius eleifend vulputate. Donec lobortis eu diam vel bibendum. Duis non mauris tincidunt, rhoncus felis posuere, dictum augue. Praesent sit amet accumsan nisl, cursus sodales ex. Mauris ut rutrum odio. Cras dignissim nisl vitae venenatis aliquam. Nulla vel rutrum nibh, a mollis velit. Fusce maximus mi dui, vel congue magna fermentum sit amet.</p>
        </section>
        <hr>

    </section>

    <section class="cart">
      <div class="cart-items">
      <span class="column">Product</span>
      <span class="column">Name</span>
      <span class="column">Price</span>
      <span class="column">Quantity</span>
      <span class="column">Total Value</span>
      <hr>
      <div class="cart-items-bought">
        <div class="item-bought-image">
          <img src="http://placehold.it/120x60/C2B5DD" alt="Picture of the item added to the shopping cart">
            <br>
            <button>Remove</button>
        </div>
        <div class="item-bought-name">Product One</div>
        <div class="item-bought-price">$99,99</div>
        <div class="item-bought-quantity">
          <input type="text" value="1">
            <br>
          <span><a href="#">Add more</a></span>
        </div>
        <div class="item-bought-total">$99,99</div>
      </div>
      <hr>


        <div class="cart-items-bought">
        <div class="item-bought-image">
          <img src="http://placehold.it/120x60/C2B5DD" alt="Picture of the item added to the shopping cart">
            <br>
            <button>Remove</button>
        </div>
        <div class="item-bought-name">Product Two</div>
        <div class="item-bought-price">$99,99</div>
        <div class="item-bought-quantity">
          <input type="text" value="1">
            <br>
          <span><a href= id="#">Add more</a></span>
        </div>
        <div class="item-bought-total">$99,99</div>
      </div>
      <hr>


        <div class="cart-items-bought">
        <div class="item-bought-image">
          <img src="http://placehold.it/120x60/C2B5DD" alt="Picture of the item added to the shopping cart">
            <br>
            <button>Remove</button>
        </div>
        <div class="item-bought-name">Product Three</div>
        <div class="item-bought-price">$99,99</div>
        <div class="item-bought-quantity">
          <input type="text" value="1">
            <br>
          <span><a href= id="#">Add more</a></span>
        </div>
        <div class="item-bought-total">$99,99</div>
      </div>
      <hr>
    </div>

    <div class="cart-check-out">
      <span>Your order value:</span>
      <span class="order-value">$299,97</span>
      <span class="coupon">Promo Coupon<input type="text" name="coupon" value="HFJHSBF" class="input-coupon"></span>
      <button class="redeem-coupon">Redeem Coupon</button>
      <span class="total-value">Order total value:</span>
      <span class="total-value-sum">$210</span>
      <button class="shopping">Keep shopping</button>
      <button class="checkout">Go to checkout</button>
    </div>
    </section>

  </section>
</body>
</html>
    
    
    
    
    
