.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 5px 10px;
    border: 0px solid #a12727;
    border-radius: 19px;
    background: #8f24d6;
    background: -webkit-gradient(linear, left top, left bottom, from(#8f24d6), to(#992727));
    background: -moz-linear-gradient(top, #8f24d6, #992727);
    background: linear-gradient(to bottom, #8f24d6, #992727);
    text-shadow: #591717 1px 1px 1px;
    font-size: 1.2em;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    text-decoration: none;
    cursor:pointer;
}
.button:hover{
    background: #ac2bff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ac2bff), to(#b62f2f));
    background: -moz-linear-gradient(top, #ac2bff, #b62f2f);
    background: linear-gradient(to bottom, #ac2bff, #b62f2f);
    color: #ffffff;
}

.button-mail,.button-link{
  display: inline-block;
  font-family: "Roboto", sans-serif;
  color: #FFF;
  font-size: 16px;
  padding: 10px 25px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background: #63B8EE;
  cursor:pointer;
  text-decoration:none;
}

.button-mail:hover,.button-link:hover {
  color: #000;
  background: #c9991e;
}
.button-sm {
  font-size:.6em;
  padding: 5px;
}
.button-md {
  font-size:1.5em;
  padding: 5px 10px;
}
.button-lg {
  font-size:2em;
  padding: 10px 15px;
}
.button:active{
  background:#E372FF;
}
.button-mail:active,.button-link:active{
  background:#867AD0;
  outline: none;
}
.button-mail:active,.button-link:active{
  outline: none;
}